<h2>请填写您想上传的图书信息   <small>按要求输入哦，不要乱来哦( # ▽ # )</small></h2>
<form role="form" class="addBookForm">
  <div class="form-group">
    <label for="bookname">Bookname</label>
    <input type="text" class="form-control" id="bookname" placeholder="Enter bookname">
  </div>
  <div class="form-group">
    <label for="author">Author</label>
    <input type="text" class="form-control" id="author" placeholder="Enter author">
  </div>
  <div class="form-group">
    <label for="doubanLink">BoubanLink</label>
    <input type="url" class="form-control" id="doubanLink" placeholder="Enter doubanLink">
  </div>
  <div class="form-group">
    <label for="coverImg">Upload cover</label>
    <input type="file" id="coverImg">
    <p class="help-block">Upload cover from 豆瓣 here.</p>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>