.footer
	.container
		p.text-muted 打造一个全方位O2O图书漂流平台！Copyright © 2014 www.mapleshaw.com All Rights Reserved

script(src='js/frameJs/jquery.min.js')
script(src='js/frameJs/bootstrap.min.js')
// script(src='js/frameJs/angular.min.js')
// script(src='js/frameJs/angular-route.min.js')
//script(src='js/main.js')
//script(src='js/controller.js')
//script(src='js/base.js')